.title-box {
  position: relative;
  width: 100%;
  height: 90px;
  user-select: none;
  -webkit-user-select: none;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  left: 15px;
  bottom: 0px;
  line-height: 2.5rem;
  transform-origin: left bottom;
  transform: scale(var(--scroll-scale));
  color: var(--p-333333);
  -webkit-user-select: none;
  user-select: none;
}

.password-list {
  position: relative;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  background: var(--p-ffffff);
  user-select: none;
  -webkit-user-select: none;
}

.password-item {
  position: relative;
  width: calc(100% - 20px);
  height: 80px;
  border-bottom: var(--p-e5e5ea) 1px solid;
  left: 10px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.password-item .password-item-title {
  position: absolute;
  top: 10px;
  left: 65px;
  width: calc(100% - 30px - 65px);
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--p-333333);
  user-select: none;
  -webkit-user-select: none;
}

.password-item .password-item-tags {
  position: absolute;
  left: 65px;
  top: 40px;
  width: calc(100% - 30px - 65px);
  height: 35px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  user-select: none;
  -webkit-user-select: none;
}

.password-item .password-item-tags li {
  list-style: none;
  display: inline-block;
  height: 35px;
  color: var(--p-main-color);
  font-size: 20px;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
  user-select: none;
  -webkit-user-select: none;
}

.password-item .password-item-website-icon {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: var(--j-website-icon);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.password-item .password-open-icon {
  width: 25px;
  height: 80px;
  top: 0px;
  right: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.password-item .password-open-icon svg {
  width: 20px;
  height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.password-item .password-open-icon svg path {
  fill: var(--p-aeaeb2);
}

.password-item .password-item-tags li:before {
  content: '#';
}

.password-list .password-item:last-child {
  border: none;
}