
.search-output-box {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: calc(100% - 60px);
  overflow: scroll;
  background: var(--p-f2f2f7);
  display: none;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  transform: translateY(var(--j-search-output-box-y));
  transition: transform 300ms, opacity 300ms;
  transition-timing-function: ease;
}


.search-output-box[status="1"] {
  transform: translateY(60px);
}

.search-output {
  width: 100%;
  display: inline-block;
  height: auto;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.search-category {
  position: relative;
  width: 100%;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
}

.search-category-icon,
.search-category-preview {
  display: none;
  user-select: none;
  -webkit-user-select: none;
}

.search-category-title {
  position: absolute;
  top: 5px;
  left: 15px;
  height: 20px;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--p-333333);
  opacity: 0.7;
  user-select: none;
  -webkit-user-select: none;
}

.search-suggestion {
  position: relative;
  width: 100%;
  height: 45px;
  background: var(--p-ffffff);
  border-top: var(--p-e5e5ea) 1px solid;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.search-output .search-suggestion:nth-child(2) {
  border-top: none;
}

.search-suggestion-icon {
  position: absolute;
  top: 7.5px;
  left: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.search-suggestion-icon svg {
  width: 23px;
  height: 23px;
  user-select: none;
  -webkit-user-select: none;
}

.search-suggestion-icon svg path {
  fill: var(--p-main-color);
}

.search-suggestion-title {
  position: absolute;
  top: 7.5px;
  left: 55px;
  width: calc(100% - 70px);
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--p-main-color);
  user-select: none;
  -webkit-user-select: none;
}

.search-item {
  position: relative;
  width: 100%;
  height: 60px;
  background: var(--p-ffffff);
  border-bottom: var(--p-e5e5ea) 1px solid;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.search-output .search-item:last-child {
  border-bottom: none;
}

.search-item-icon {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 30px;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-item-icon svg {
  width: 23px;
  height: 23px;
  user-select: none;
  -webkit-user-select: none;
}

.search-item-icon svg path {
  fill: var(--p-333333);
}

.search-item-title {
  position: absolute;
  top: 7.5px;
  left: 55px;
  width: calc(100% - 70px);
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--p-333333);
  user-select: none;
  -webkit-user-select: none;
}

.search-item-preview {
  position: absolute;
  top: 32.5px;
  left: 55px;
  width: calc(100% - 70px);
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--p-333333);
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}
