
.btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  border-radius: 18px;
}

.btn svg path {
  fill: var(--p-main-color);
}

.btn svg {
  width: 25px;
  height: 25px;
}

.btn.left-top-corner {
  top: 7.5px;
  left: 7.5px;
}

.btn.right-top-corner {
  top: 7.5px;
  right: 7.5px;
}
