.container,
.password-page,
.main-page,
.add-password-page {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  background: var(--p-f2f2f7);
}

.password-page,
.add-password-page {
  display: none;
}

.contents-box {
  display: inline-block;
  position: absolute;
  top: 155px;
  left: 15px;
  width: calc(100% - 30px);
}

.password-page .contents-box,
.add-password-page .contents-box {
  top: 55px;
}