.details-list,
.details-note,
.details-check-result,
.add-list,
.pattern_creator_preview_component_info .pattern_creator_preview_component_info_list,
.pattern_creator_add_pattern_errors .pattern_creator_add_pattern_errors_list {
  position: relative;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  background: var(--p-ffffff);
  user-select: none;
  -webkit-user-select: none;
  margin-bottom: 10px;
}

.details-item,
.add-item,
.pattern_creator_preview_component_info .pattern_creator_preview_component_info_item,
.pattern_creator_add_pattern_errors .pattern_creator_add_pattern_errors_list_item {
  position: relative;
  width: calc(100% - 20px);
  height: 50px;
  border-bottom: var(--p-e5e5ea) 1px solid;
  left: 10px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.pattern_creator_add_pattern_errors .pattern_creator_add_pattern_errors_list_item {
  padding-bottom: 10px;
}

.pattern_creator_add_pattern_errors .pattern_creator_add_pattern_errors_list_item {
  display: inline-block;
  height: auto;
  min-height: 50px;
}

.details-item .details-item-title,
.add-item .add-item-title,
.pattern_creator_preview_component_info_item .pattern_creator_preview_component_info_item_title,
.pattern_creator_add_pattern_errors_list_item .pattern_creator_add_pattern_errors_list_item_title {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 90px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  color: var(--p-333333);
  user-select: none;
  -webkit-user-select: none;
}

.pattern_creator_add_pattern_errors_list_item .pattern_creator_add_pattern_errors_list_item_title {
  width: 100%;
  height: auto;
  min-height: 30px;
  white-space: pre-line;
  word-break: normal;
  display: inline-block;
  align-items: normal;
  position: relative;
  overflow: auto;
}

.details-item .details-item-value,
.add-item .add-item-value,
.pattern_creator_preview_component_info_item .pattern_creator_preview_component_info_item_value {
  position: absolute;
  right: 35px;
  top: 10px;
  width: calc(100% - 125px);
  height: 30px;
  overflow: hidden;
}

.add-item .add-item-value,
.pattern_creator_preview_component_info_item .pattern_creator_preview_component_info_item_value {
  width: calc(100% - 100px);
  right: 10px
}

.details-item .details-item-value input,
.add-item .add-item-value input,
.pattern_creator_preview_component_info_item .pattern_creator_preview_component_info_item_value input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--p-333333);
  caret-color: var(--p-main-color);
}

.details-item .details-item-copy {
  width: 30px;
  height: 30px;
  top: 10px;
  right: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-item .details-item-copy svg {
  width: 21px;
  height: 21px;
}

.details-item .details-item-copy svg path {
  fill: var(--p-main-color);
}

.details-list .details-item:last-child,
.add-list .add-item:last-child,
.pattern_creator_preview_component_info_list .pattern_creator_preview_component_info_item:last-child,
.pattern_creator_add_pattern_errors_list .pattern_creator_add_pattern_errors_list_item:last-child {
  border: none;
}

.details-note-content {
  position: relative;
  width: calc(100% - 20px);
  min-height: 100px;
  left: 10px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  padding: 10px 0px;
  font-size: 18px;
  color: var(--p-333333);
  white-space: pre-wrap;
  word-break: break-word;
}

.details-note-content .hashtag {
  color: var(--p-main-color);
  font-weight: 500;
  text-decoration: underline;
}

.details-check-result-summary {
  width: calc(100% - 20px);
  height: 75px;
  position: relative;
  border-bottom: var(--p-e5e5ea) 1px solid;
  box-sizing: border-box;
  left: 10px;
}

.details-check-result-item {
  width: calc(100% - 20px);
  height: 50px;
  position: relative;
  border-bottom: var(--p-e5e5ea) 1px solid;
  box-sizing: border-box;
  left: 10px;
}

.details-check-result-report {
  width: calc(100% - 20px);
  min-height: 50px;
  position: relative;
  box-sizing: border-box;
  left: 10px;
  display: inline-block;
  padding: 10px 0px;
  font-size: 18px;
  color: var(--p-333333);
  white-space: pre-wrap;
  word-break: break-word;
}

.details-check-result-points {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 55px;
  height: 55px;
  background: rgba(var(--j-check-color-r), var(--j-check-color-g), var(--j-check-color-b), 0.15);
  border-radius: 10px;
  color: rgba(var(--j-check-color-r), var(--j-check-color-g), var(--j-check-color-b), 1);
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.details-check-result-item .details-check-result-points {
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 7px;
}

.details-check-result-phrase {
  position: absolute;
  top: 22.5px;
  left: 65px;
  width: calc(100% - 65px);
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--p-333333);
}

.details-check-result-item .details-check-result-phrase {
  top: 10px;
  left: 40px;
  width: calc(100% - 40px);
  height: 30px;
  font-size: 16px;
}