
* {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Noto Sans', sans-serif;
}

svg path {
  fill: var(--p-333333);
}

body {
  padding: 0px;
  margin: 0px;
  background: var(--p-f2f2f7);
  overflow: hidden;
}
