* {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

svg path {
  fill: var(--p-333333);
}

body {
  padding: 0px;
  margin: 0px;
  background: var(--p-ffffff);
  overflow: hidden;
}

input#importdata {
  opacity: 0;
}