
.options_mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: none;
  user-select: none;
  -webkit-user-select: none;
}

.options {
  position: fixed;
  top: 50px;
  right: 10px;
  transform: scale(0);
  transform-origin: top right;
  opacity: 0;
  width: clamp(100px, calc(100% - 20px), 230px);
  min-height: 50px;
  height: 50px;
  display: none;
  background: rgba(var(--p-f2f2f7-r), var(--p-f2f2f7-g), var(--p-f2f2f7-b), 0.65);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: var(--p-border-radius-default);
  overflow: hidden;
  max-height: 450px;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 0px 0px 32px -11px rgba(0, 0, 0, 0.15);
  transition: 0.38s;
  transition-timing-function: cubic-bezier(0.160, 0.455, 0.190, 0.989);
  will-change: transform, opacity;
}

.options[k="1"] {
  transform: scale(1);
  opacity: 1;
  transition: 0.38s;
  transition-timing-function: cubic-bezier(0.390, 0.795, 0.000, 0.945);
  height: calc(var(--js-options-list-count) * 50px);
}

.options[s="-1"] {
  transform: scale(1);
  transition: 0.25s;
  transition-timing-function: linear;
}

.options[s="1"] {
  transform: scale(calc(95 / 100));
  transition: 0.25s;
  transition-timing-function: linear;
  box-shadow: 0px 0px 32px -11px rgba(0, 0, 0, 0);
  overflow: visible;
}

.options li {
  width: 100%;
  height: 50px;
  border-top: 1px solid var(--p-e5e5ea);
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  right: 0px;
  top: calc(var(--options-list-n) * 50px);
}

.options li[d="0"] {
  display:none;
}

.options li[b="0"] {
  border: none;
}

.options[s="1"] li {
  opacity: 0.6;
}

.options[s="1"] li[s="1"] {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.190, 1.100, 0.420, 1.025);
  transform: scale(calc(100 / 95));
  transition: 0.25s;
  transform-origin: top right;
  z-index: 30;
  background: rgba(var(--d-options-r), var(--d-options-g), var(--d-options-b), 0.5);
  box-shadow: 0px 0px 32px -11px rgba(0, 0, 0, 0.15);
  border-radius: var(--p-border-radius-default);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0px solid rgba(0, 0, 0, 0);
}

.options li .l_options_title {
  position: absolute;
  top: 0px;
  left: 12px;
  width: calc(100% - 50px - 10px);
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--p-333333);
  font-size: 16px;
}

.options li .l_options_icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
}

.options li .l_options_icon svg {
  width: 20px;
  height: 20px;
}

.options li .l_options_icon svg path {
  fill: var(--p-333333)
}