:root {
  --p-main-color: #24aff5;

  --p-f2f2f7: #f2f2f7;
  --p-f2f2f7-r: 242;
  --p-f2f2f7-g: 242;
  --p-f2f2f7-b: 247;

  --p-ffffff: #ffffff;
  --p-ffffff-r: 255;
  --p-ffffff-g: 255;
  --p-ffffff-b: 255;

  --p-e5e5ea: #e5e5ea;
  --p-e5e5ea-r: 229;
  --p-e5e5ea-g: 229;
  --p-e5e5ea-b: 234;

  --p-aeaeb2: #aeaeb2;
  --p-aeaeb2-r: 174;
  --p-aeaeb2-g: 174;
  --p-aeaeb2-b: 178;

  --p-333333: #333333;
  --p-333333-r: 51;
  --p-333333-g: 51;
  --p-333333-b: 51;

  --p-border-radius-default: 15px;
  --p-border-radius-small: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --p-f2f2f7: #050506;
    --p-f2f2f7-r: 5;
    --p-f2f2f7-g: 5;
    --p-f2f2f7-b: 6;

    --p-ffffff: #0e0e11;
    --p-ffffff-r: 14;
    --p-ffffff-g: 14;
    --p-ffffff-b: 17;

    --p-e5e5ea: #23232a;
    --p-e5e5ea-r: 35;
    --p-e5e5ea-g: 35;
    --p-e5e5ea-b: 42;

    --p-aeaeb2: #5a5a6c;
    --p-aeaeb2-r: 90;
    --p-aeaeb2-g: 90;
    --p-aeaeb2-b: 108;

    --p-333333: #ffffff;
    --p-333333-r: 255;
    --p-333333-g: 255;
    --p-333333-b: 255;
  }
}