:root {
  --p-main-color: #54b4e4;
  --p-f2f2f7: #f2f2f7;
  --p-ffffff: #ffffff;
  --p-ffffff-r: 255;
  --p-ffffff-g: 255;
  --p-ffffff-b: 255;
  --p-e5e5ea: #e5e5ea;
  --p-aeaeb2: #aeaeb2;
  --p-333333: #333333;
  --p-side-panel-width:clamp(180px,25%,250px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --p-f2f2f7: #0a0a0b;
    --p-ffffff: #1c1c1e;
    --p-ffffff-r: 28;
    --p-ffffff-g: 28;
    --p-ffffff-b: 30;
    --p-e5e5ea: #2c2c2e;
    --p-aeaeb2: #636366;
    --p-333333: #ffffff;
  }
}
