:root {
    --g-f4f4f4: #217385;
    --g-4e4e4e: #8eccdb;
    --g-e3e3e3: #45a4bc;
    --g-ffffff: #2a869b;
    --d-switch-a: #205c6b;
    --d-switch-b: #8eccda;
    --d-switch-c: #45a4bc;
    --meta-theme-color-light:#2a869b;
    --meta-theme-color-dark:#2a869b;
}
::placeholder {
    color:rgba(142, 204, 219,0.4);
}
@media (prefers-color-scheme: dark) {
    :root {
        --g-f4f4f4: #217385;
        --g-4e4e4e: #8eccdb;
        --g-e3e3e3: #45a4bc;
        --g-ffffff: #2a869b;
        --d-switch-a: #205c6b;
        --d-switch-b: #8eccda;
        --d-switch-c: #45a4bc;
        --meta-theme-color-light:#2a869b;
        --meta-theme-color-dark:#2a869b;
    }
}
