:root {
    --g-f4f4f4: #217385;
    --g-4e4e4e: #8eccdb;
    --g-e3e3e3: #45a4bc;
    --g-ffffff: #2a869b;
    --d-switch-a: #205c6b;
    --d-switch-b: #8eccda;
    --d-switch-c: #45a4bc;
    --meta-theme-color-light: #2a869b;
    --meta-theme-color-dark: #2a869b;
    --storage-1: #6ec0cf;
    --storage-2: #4997ab;
    --storage-3: #46b6d2;
    --storage-4: #7dd9e8;
    --storage-5: #56cfe0;
}

::placeholder {
    color: rgba(142, 204, 219, 0.4);
}

@media (prefers-color-scheme: dark) {
    :root {
        --g-f4f4f4: #217385;
        --g-4e4e4e: #8eccdb;
        --g-e3e3e3: #45a4bc;
        --g-ffffff: #2a869b;
        --d-switch-a: #205c6b;
        --d-switch-b: #8eccda;
        --d-switch-c: #45a4bc;
        --meta-theme-color-light: #2a869b;
        --meta-theme-color-dark: #2a869b;
        --storage-1: #6ec0cf;
        --storage-2: #4997ab;
        --storage-3: #46b6d2;
        --storage-4: #7dd9e8;
        --storage-5: #56cfe0;
    }
}