:root {
    --g-f4f4f4: #36415a;
    --g-4e4e4e: #7084b3;
    --g-e3e3e3: #4f628e;
    --g-ffffff: #20283a;
    --d-switch-a: #8497c3;
    --d-switch-b: #c1cff0;
    --d-switch-c: #4f628e;
    --meta-theme-color-light:#20283a;
    --meta-theme-color-dark:#20283a;
    --storage-1:#6b70bc;
    --storage-2:#5d61a3;
    --storage-3:#929ef9;
    --storage-4:#6174a7;
    --storage-5:#6c80b6;
}
::placeholder {
    color:rgba(112, 132, 179,0.4);
}
@media (prefers-color-scheme: dark) {
    :root {
        --g-f4f4f4: #36415a;
        --g-4e4e4e: #7084b3;
        --g-e3e3e3: #4f628e;
        --g-ffffff: #20283a;
        --d-switch-a: #8497c3;
        --d-switch-b: #c1cff0;
        --d-switch-c: #4f628e;
        --meta-theme-color-light:#20283a;
        --meta-theme-color-dark:#20283a;
        --storage-1:#6b70bc;
        --storage-2:#5d61a3;
        --storage-3:#929ef9;
        --storage-4:#6174a7;
        --storage-5:#6c80b6;
    }
}
