:root {
    --g-f4f4f4: #a1c7b7;
    --g-4e4e4e: #347365;
    --g-e3e3e3: #7ba89c;
    --g-ffffff: #aed4c4;
    --d-switch-a: #638263;
    --d-switch-b: #90b1a3;
    --d-switch-c: #3c4f3c;
    --meta-theme-color-light:#aed4c4;
    --meta-theme-color-dark:#aed4c4;
}
::placeholder {
    color:rgba(52, 115, 101,0.4);
}
@media (prefers-color-scheme: dark) {
    :root {
        --g-f4f4f4: #a1c7b7;
        --g-4e4e4e: #347365;
        --g-e3e3e3: #7ba89c;
        --g-ffffff: #aed4c4;
        --d-switch-a: #638263;
        --d-switch-b: #90b1a3;
        --d-switch-c: #3c4f3c;
        --meta-theme-color-light:#aed4c4;
        --meta-theme-color-dark:#aed4c4;
    }
}
