:root {
    --g-f4f4f4: #ffd6d6;
    --g-4e4e4e: #d34a4a;
    --g-e3e3e3: #ffc7c7;
    --g-ffffff: #ffe5e5;
    --d-switch-a: #ff9999;
    --d-switch-b: #ffbaba;
    --d-switch-c: #ff7f7f;
    --meta-theme-color-light: #ffe5e5;
    --meta-theme-color-dark: #ffe5e5;
    --storage-1: #ffc2db;
    --storage-2: #ff99c3;
    --storage-3: #ff70ac;
    --storage-4: #ff4794;
    --storage-5: #ff1f7c;
    --check-strong-icon: var(--g-4e4e4e);
    --check-strong-icon: var(--g-4e4e4e);
    --check-strong-icon: var(--g-4e4e4e);
    --check-strong-icon: var(--g-4e4e4e);   
}

::placeholder {
    color: rgba(206, 96, 96, 0.4);
}

@media (prefers-color-scheme: dark) {
    :root {
        --g-f4f4f4: #ffd6d6;
        --g-4e4e4e: #d34a4a;
        --g-e3e3e3: #ffc7c7;
        --g-ffffff: #ffe5e5;
        --d-switch-a: #ff9999;
        --d-switch-b: #ffbaba;
        --d-switch-c: #ff7f7f;
        --meta-theme-color-light: #ffe5e5;
        --meta-theme-color-dark: #ffe5e5;
        --storage-1: #ffc2db;
        --storage-2: #ff99c3;
        --storage-3: #ff70ac;
        --storage-4: #ff4794;
        --storage-5: #ff1f7c;
        --check-strong-icon: var(--g-4e4e4e);
        --check-strong-icon: var(--g-4e4e4e);
        --check-strong-icon: var(--g-4e4e4e);
        --check-strong-icon: var(--g-4e4e4e);       
    }
}